<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<%- include('components/navbar') %>
	<h1>About</h1>
	
	<p style="line-height: 2em;"><i><div style="text-align:justify;"> Selamat datang di website Saya. Coba klik menu di atas,
     maka kamu akan membuka halaman yang berbeda.Ini adalah website yang dibuat dengan link.
     Kamu bisa membuka halaman dengan mudah. Tinggal klik-klik saja! <br></i></p>
	</div>

	<hr>
	<footer>
	
	<p>&copy; 2021 Programming.Sri Rahayu Ningsih</p>
	<hr>
	</footer>


</body>
</html>