<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<%- include('components/navbar') %>
<h1>Peace Be Upon You <%= kelas.nama %></h1>
<p style="line-height: 2em;"><i><div style="text-align:justify;">Tidak Selamanya Teguran Itu Adalah Benci. Tidak Semua Pujian Itu Baik Kadangkala Yang Mencintaimu Mengkritik Segala Kesalahanmu, Melarangmu, Bukan Berarti Ingin Melukaimu,Menyakiti Hatimu, Tapi Justru Ingin Melihatmu Lebih Baik. Seperti Engkau Mencintai Suatu Barang. Jika Barang Tersebut Rusak Maka Engkau Akan Cepat Membetulkannya, Bukan Membiarkannya. </i></p>
</div>
<img src="wisuda.png" width="350px" height="300px" style="display: block; margin: auto;">

<hr>

<footer>
	<p>&copy; 2021 Programming.Sri Rahayu Ningsih</p>
	<hr>
</footer>

</body>
</html>